     </div>
    </div>
  </div>

  <footer class="footer navbar">
    <div class="container">
      <div class="col text-right text-muted text-small text-nowrap">
        <small>
          Powered by <a href="http://nginx.org">nginx</a>,
            <a href="https://github.com/aperezdc/ngx-fancyindex">fancyindex</a>
            and the updated <a href="https://github.com/3z3qu13l/nginx-fancyindex-flat-theme">flat theme</a>.
        </small>
      </div>
    </div>
  </footer>

  <script type="text/javascript">
    generateBreadcrumbs();
    generateList();
  </script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/lightgallery.umd.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/plugins/zoom/lg-zoom.umd.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/plugins/fullscreen/lg-fullscreen.umd.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/plugins/autoplay/lg-autoplay.umd.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="text/javascript">
    lightGallery(document.getElementById('lightgallery'), {
        plugins: [lgAutoplay, lgZoom, lgFullscreen],
        speed: 500,
        selector: '.lightgallerySelector',
        licenseKey: '0000-0000-000-0000'
    });
  </script>
</body>

</html>
